absl-py
annotated-types
anyio
astunparse
blinker
cachetools
certifi
charset-normalizer
click
colorama
filetype
Flask
flatbuffers
gast
google-ai-generativelanguage5
google-api-core1
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
grpcio
grpcio-status
h11
h5py
httpcore
httplib2
httpx
idna
itsdangerous
Jinja2
jsonpatch
jsonpointer
keras
langchain-core
langchain-google-genai
langsmith
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
namex
numpy
opt_einsum
optree
orjson
packaging
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
Pygments
pyparsing
PyYAML
requests
requests-toolbelt
rich
rsa
six
sniffio
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow_intel
tensorflow-io-gcs-filesystem
termcolor
tqdm
typing_extensions
uritemplate
urllib3
Werkzeug
wrapt
zstandard
